main{
    margin-top: 354px;
    position: absolute;
    background-color: #ffffff;
    border: 1ps solid black;
    opacity: 0.6;
}
main form{
    /*margin: 5%;*/
    font-weight: bold;
    color: #000000;
    margin-top: 50px;
    margin-left: 800px;
}
input[type="text"]{
    margin-top: 20px;

}

textarea{
    margin-top: 20px;
}

@media screen and (max-width:1446px) {
    main form{
        margin-left: 700px;
    }
}

@media screen and (max-width:1044px) {
    main form{
        margin-left: 400px;
    }
}


@media screen and (max-width:800px) {
    main form{
        margin-left: 200px;
    }
}

